[__config__]
oldver = "docker_old.txt"
newver = "docker_new.txt"

# docker base images i use

[alpine]
source = "container"
registry = "docker.io"
container = "library/alpine"
include_regex = "3.*"

[archlinux]
source = "container"
registry = "docker.io"
container = "library/archlinux"
include_regex = "base-2.*"

[debian11]
source = "container"
registry = "docker.io"
container = "library/debian"
include_regex = "bullseye-.*"
exclude_regex = "bullseye-.*-slim"

[debian12]
source = "container"
registry = "docker.io"
container = "library/debian"
include_regex = "bookworm-.*"
exclude_regex = "bookworm-.*-slim"

[debian13]
source = "container"
registry = "docker.io"
container = "library/debian"
include_regex = "trixie.*"
exclude_regex = "trixie-.*-slim"

[ubuntu22]
source = "container"
registry = "docker.io"
container = "library/ubuntu"
include_regex = "jammy-.*"

[ubuntu24]
source = "container"
registry = "docker.io"
container = "library/ubuntu"
include_regex = "noble-.*"

["golang1.25"]
source = "container"
registry = "docker.io"
container = "library/golang"
include_regex = "1.25.*-alpine"

["golang1.26"]
source = "container"
registry = "docker.io"
container = "library/golang"
include_regex = "1.26.\\d+-alpine"
